* {
    position: relative;
}

/* header */
header {
position: absolute;
width: 360px;
max-width: 1180;
min-height: 60px;
left: 0px;
top: 0px;



/* nav bar */



background: radial-gradient(194.52% 2394.82% at 50% 50%, rgba(17, 133, 224, 0.31) 21.35%, rgba(17, 248, 234, 0.00484375) 99.99%, rgba(75, 171, 73, 0) 100%);
}

input {

position: absolute;
width: 226px;
height: 30px;
left: 10px;
top: 8px;


}




::placeholder {

/* Search Input box */

position: absolute;
width: 182px;
height: 16px;
left: 20px;
top: 15px;

font-family: Noto Serif;
font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 16px;
display: flex;
align-items: center;

color: rgb(140, 140, 172);
}


/* Lupa */

/* temperature sun icon 1 */
.tempicon {
position: absolute;
width: 31px;
height: 32px;
left: 325px;
top: 9px;

background: url("../Images/temperature-celcius-icon.png");
background-size: cover;
}

/* Temp */
.temperature {
width: 24px;
height: 11px;
left: 300px;
margin: 0;
padding-top: 14px;
font-family: Rasa;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}

/* City */
.citynav {
position: absolute;
width: 44px;
height: 22px;
left: 251px;
margin: 0;
padding-top: 14px;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #000000;

}
/* nav bar */
.sortbar {
position: absolute;
width: 360px;
height: 37px;
left: 0px;
top: 46px;

background: linear-gradient(115.82deg, rgba(181, 217, 245, 0.31) 95.77%, rgba(29, 222, 216, 0.100641) 118.05%, rgba(17, 248, 234, 0.00484375) 147.31%, rgba(75, 171, 73, 0) 147.32%, rgba(197, 245, 248, 0.1736) 147.32%);
}


/* main */
.main {
position: absolute;
width: 360px;
height: 482px;
left: 0px;
top: 83px;
}
/* propertyinfo */
.propertyEl{

position: absolute;
width: 360px;
height: 243px;
left: 0px;
top: 1px;
}
/* picture display */

.picturedisplay {
display: flex;
width: 360px;
height: 184px;
left: 0px;
top: 1px;
}
/* picture */
.picture {
position: absolute;
width: 360px;
height: 184px;
left: 0px;
top: 1px;

background: url("../Images/Front-Side.jpeg");
background-size: cover;
}
/* Favorite Icon */
.hearticon {
position: absolute;
width: 17px;
height: 17px;
left: 336px;
top: 12px;
background: url("../Images/heart-unclick.png");
background-size: cover;
}
/* next arrow icon */
.nexticon {
position: absolute;
width: 25px;
height: 25px;
left: 326px;
top: 81px;
background: url("../Images/arrow-next-icon.png");
background-size: cover;
}
/* preview arrow icon */
.previousicon {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 81px;
    
    background: url("../Images/arrow-next-icon.png");
    background-size: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* Select button */

.selectlocation {
position: absolute;
width: 20px;
height: 24px;
left: 10px;
top: 8px;

backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
}
/* blur icon container */
.locationbox {
position: absolute;
width: 20px;
height: 24px;
left: 10px;
top: 8px;

background: rgba(255, 255, 255, 0.56);
border-radius: 4px;
}

/* Select button unclicked icon 2 */

.locationicon {

width: 15.83px;
height: 19px;
left: 11.67px;
top: 11px;

background: url("../Images/Pinpoint-maps-unclicked-icon.png");
}
/* getme selector */
.getmeselector {
position: absolute;
width: 20px;
height: 20px;
left: 170px;
top: 155px;
}
/* Fade box */
.fadebox {

width: 20px;
height: 20px;
left: 170px;
top: 150px;

background: rgba(241, 16, 16, 0.56);
border-radius: 8px;
}

/* dot icon 3 */
.doticon {

width: 10px;
height: 10px;
left: 185px;
top: 155px;

background: url("../Images/dot-icon.png");
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* Favorite Icon */
.hearticon {
position: absolute;
width: 17px;
height: 17px;
left: 336px;
top: 12px;

background: url("../Images/healthcare-fullblue.png");
}
/* property info */

.propertyinfo {
position: absolute;
width: 358.69px;
height: 54px;
left: 0px;
top: 187px;
display: flexbox;
}
/*distance*/
.distance {
    display: flex;
    width: 76.22px;
    height: 10.42px;
    left: 2.18px;
    top: 187px;
    
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    
    color: #000000;
    
    opacity: 0.55;
    }

/* Price */
.price {
display: flex;
width: 96.08px;
height: 18px;
left: 9.14px;
top: 195.53px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #000000;

}
/* full Address */
.fulladdress {
    display: flex;  
    width: 261.55px;
    height: 20.84px;
    left: 7px;
    top: 218.26px;
    
    font-family: Rasa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    }
/* moreinfo */

.moreinfo {
position: relative;
width: 150.34px;
height: 12.32px;
left: 131.14px;
top: 195px;
display: flex;
}
/* beds */
.bed{
display: inline;
left: 135.58px;
top: 195px;

font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;

}

/* baths */
.bath {
display: inline;

left: 172.94px;
top: 195px;

font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;
}


/* sqft */
.sqft {
display: inline;
left: 212.44px;
top: 195px;

font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;
}
/* Footer */
footer {
position: static;
display: flex;

bottom: 0px;
}

img {
    background-size: cover;
}
/* My Homes text */
.visit img {
    
font-family: Noto Sans KR;
font-style: normal;
font-weight: 100;
font-size: 10px;
line-height: 10px;
/* or 100% */

display: flex;
align-items: center;
text-align: center;

color: #090808;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.visitbtn {
/* button */


position: absolute;
width: 53px;
height: 59px;
left: 71px;
top: 8px;

background: radial-gradient(50% 50% at 50% 50%, #9EE3F9 0%, rgba(158, 227, 249, 0) 100%);
box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}
/* list icon */
.listicon {
/* position: absolute;
width: 33px;
height: 38px;
left: 81px;
top: 23px; */

background: url("../Images/List-black-Icons.png";
background-size: cover;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


