Main Page
body {
position: relative;
max-width: 1180;
width: 360px;
height: 640px;
margin: 0 auto;
padding: 0;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
background: #FFFFFF;
}

/* header */
header {
position: absolute;
width: 360px;
height: 46px;
left: 0px;
top: 0px;
}
/* nav bar */

.navbar {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: radial-gradient(194.52% 2394.82% at 50% 50%, 
rgba(17, 133, 224, 0.31) 21.35%, 
rgba(17, 248, 234, 0.00484375) 99.99%,
 rgba(75, 171, 73, 0) 100%);
}
/* City */
.citynav {
position: absolute;
width: 44px;
height: 22px;
left: 251px;
top: 13px;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #000000;
}

footer {
/* Footer */

position: absolute;
width: 360px;
height: 75px;
left: 0px;
top: 565px;
background: #1185E0;

}

/* sort bar */

.sortbar {
position: absolute;
width: 360px;
height: 37px;
left: 0px;
top: 46px;

background: linear-gradient(115.82deg, rgba(181, 217, 245, 0.31) 95.77%, rgba(29, 222, 216, 0.100641) 118.05%, rgba(17, 248, 234, 0.00484375) 147.31%, rgba(75, 171, 73, 0) 147.32%, rgba(197, 245, 248, 0.1736) 147.32%);
}
/* main */
.main {

position: absolute;
width: 360px;
height: 482px;
left: 0px;
top: 83px;
}
/* picture */

.picture {
position: absolute;
width: 360px;
height: 184px;
left: 0px;
top: 1px;

background: url(../Images/Front\ Side\ 1.jpeg);
}
/* Location box*/
.locationbox {
position: absolute;
width: 20px;
height: 24px;
left: 10px;
top: 8px;
/* background: url(../Images/Pinpoint\ maps\ unclicked\ icon.png); */
backdrop-filter: blur(4px);

/* Note: backdrop-filter has minimal browser support */
}
/*Location Icon*/
.locationicon {
    background: url(../Images/Pinpoint\ maps\ unclicked\ icon.png);

}

/* propertyEl */
