
  #map {
    /*margin: 10px;*/
    height: 100%;
    width: 85%;
  }
  
  :root {
    --primary: darkgrey;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
  }

  #searchBar, header, footer{
    background-color: var(--primary);
  }

  form{
    width: 100%;
  }

  .form-class{
    padding-top: 1rem;
  }

  .iconImage {
    height: 95px;
    width: auto;
  }

  footer{
    text-align: center;
  }

  header h1, header h4{
    display: inline-block;
  }

  h1{
    font-family: 'Notable', sans-serif;
    margin-left: 20px;;
  }

  h4, h5{
    font-family: 'Berkshire Swash', cursive;
  }

  h5{
    padding: 10px 0 10px 0;
  }

  .pInfoWindow{
    width:100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .marginTop{
    margin-top: 10px;
  }

  .marginBottom{
    margin-bottom: 10px;
  }


  .mapAndFaves{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    margin:10px;
  }

  .favFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 15%;
    margin-left: 10px;
    background-color: var(--primary);
    overflow-y: auto;
    max-height: 76.9vh;
  }

  .favFlex h4{
    width: 100%;
    text-align: center;
  }

  #favoritesBar{
    width: 100%;
    text-align: center;
  }
  
  #favoritesBar div{
    background-color: antiquewhite;
    border-bottom: 2px solid white;
  }

 .favImg {
   width: 100px;
 }
 .favDiv {
   padding: 10px 10px 0px 10px;
 }
 .favAddress {
   padding-top: 10px;
   font-size: small;
 }


 @media screen and (max-width: 980px) {

  html, body {
    min-height: unset;
    height: unset;
  }

  .mapAndFaves{
    flex-direction: column;
  }

  .favFlex{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    align-items: stretch;
    overflow-y: visible;
    margin: 0;
  }

  .favFlex h4{
    text-align: left;
    width: auto;
    background-color: var(--primary);
    margin: 10px 0 0 0;   
    padding: 0 10px 0 10px; 
  }

  #map{
    width: 100%;
    min-height: 77vh;
  }


  #favoritesBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 10px 0 0 0;   
  }

  #favoritesBar div{
    background-color: antiquewhite;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    flex-basis: 25%; 
    flex-grow: 0; 
  }

 }